body {
    background-color: whitesmoke;
    background-image: url(b5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 400px;
    background-size: 100% auto;
    }
    